<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>methods in templates</title>
  </head>
  <body>
    <h1>hello</h1>
    {{.Name}}
    {{.Age}}
    {{.SomeProcessing}}
    {{.AgeDouble}}
    {{.AgeDouble | .TakesArg}}

  </body>
</html>