<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>functions in templates</title>
  </head>
  <body>
    <h1>hello{{.}}</h1>

    {{template "polarbear" }}
  {{/*without data*/}}
  {{template "wildcat" .}}
{{/*with data*/}}

</body>
</html>