<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body></header>
  {{if .Method}}
    <p>The request method is:
      {{.Method}}</p>
  {{end}}
  {{if .Host}}
    <p>The request Host is:
      {{.Host}}</p>
  {{end}}
  {{if .ContentLength}}
    <p>The request ContentLength is:
      {{.ContentLength}}</p>
  {{end}}
  {{if .URL}}
    <p>The request URL is:</p>
    <ul>
      <li>Scheme:{{.URL.Scheme}}</li>
      <li>Opaque:{{.URL.Opaque}}</li>
      <li>Host:{{.URL.Host}}</li>
      <li>Path:{{.URL.Path}}</li>
      <li>RawPath:{{.URL.RawPath}}</li>
      <li>ForceQuery:{{.URL.ForceQuery}}</li>
      <li>RawQuery:{{.URL.RawQuery}}</li>
      <li>Fragment:{{.URL.Fragment}}</li>

    </ul>
  {{end}}

  {{if .Header}}
    {{range $k, $v:=.Header}}
      <p>{{$k}}</p>
      <ul>
        {{range $v}}
          <li>{{.}}</li>
        {{end}}
      </ul>
    {{end}}
  {{end}}

</header>
{{if .Submissions}}
  <main>
    <p>
      <strong>variable names</strong>(identifiers) and
      <em>values</em>:</p>
    {{range $key, $value:= .Submissions}}
      <p>
        <strong>{{$key}}</strong>
      </p>
      <ul>
        {{range $value}}
          <li>
            <em>{{.}}</em>
          </li>
        {{end}}
      </ul>
    {{end}}
  </main>
{{end}}

<form action="/?fname=bond" method="POST">
  <!-- name is variable name which is used to hold the value of the input type (i.e text here) id is the identifier which identifies the field in CSS or javascript -->
  <input type="text" name="fname" id="fname" placeholder="first name" autofocus="autofocus" autocomplete="off">
  <input type="submit" name="btn-submit" value="Hit me">
</form>

</body>
</html>